/* パスワード忘却時再設定JSP用css */ 

html, body {
  height: 100%;
}

body {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.nav-link {
  color: rgb(0, 255, 255) !important;
}

main > .container {
  max-width: 150%; 
  padding: 60px 15px 0;
}

.form-forgotPassword {
  max-width: 630px;
  padding: 15px;
}

.form-forgotPassword .form-floating:focus-within {
  z-index: 2;
}

.form-forgotPassword input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-forgotPassword input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.invisible-text {
  color: transparent;
}

.form-label {
    margin-bottom: 0.1rem; 
}

.required-label {
    background-color: red;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.75rem;
    margin-bottom: 0.1rem; 
}

/* 実際の入力値を左揃えにする */
.form-control {
    text-align: left; 
}

/* selectの選択肢と選択結果を中央揃えにする */
.form-control.select-center {
    text-align: center;
    text-align-last: center; 
    direction: ltr; /* directionを左から右にリセット */
}

/* プレースホルダーに表示されている文字色 */
.form-control::placeholder {
    color: #bbb;
}

/* セレクトボックスの初期値の文字色 */
select option:first-child {
    color: #bbb;
}
/* セレクトボックスの選択後の文字色 */
select option:not(:first-child) {
    color: black;
}

/* パスワード入力補助用ポップアップ */
.password-helper {
    display: none;
    position: absolute;
    border: 5px solid rgb(187, 211, 248);
    background-color: #f9f9f9;
    padding: 20px;
    background: #fff;
    font-weight: 300;
    z-index: 999;
    -webkit-box-shadow: 0 1px 20px rgba(34, 44, 55, 0.3);
    -moz-box-shadow: 0 1px 20px rgba(34, 44, 55, 0.3);
    box-shadow: 0 1px 20px rgba(34, 44, 55, 0.3);
}

/* パスワード入力補助用ポップアップの文字設定 */
.popup-small {
    line-height: 20px;
    margin: 0 0 5px 0;
    font-size: 1em;
    display: block;
}

/* パスワード入力補助用ポップアップのチェック記号の書式 */
.popup-small svg {
    width: 2em;   
    height: 2em;  
    margin: 0 5px 0 0;
    stroke: #ececec;
}

/* パスワード入力補助用ポップアップで条件を満たした場合に緑色にするため */
.popup-small.fulfilled svg {
    stroke: #8ac249;
}

/* パスワード入力補助用ポップアップ表示用 */
.password-helper.show {
    display: block;
}

/* パスワード入力補助用ポップアップのラベル書式 */
.pb10 {
    padding-bottom: 10px !important;
    border-bottom: #ececec 1px solid;
    font-weight: 700 !important;
}

footer.footer {
  position: fixed;
  width: 100%;
  height: 50px; /* Adjust as needed */
  text-align: center;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px; /* Add padding as needed */
}