/* メインメニューJSP用css */ 

body {
  font-size: .875rem;
  height: 100%;
  margin-bottom: 50px; 
}


main > .container {
  max-width: 150%; 	
  padding: 60px 15px 0;
}

.form-mainMenu{
  max-width: 630px;
  padding: 15px;
}

.form-mainMenu .form-floating:focus-within {
  z-index: 2;
}

.form-mainMenu input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-mainMenu input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-label {
    margin-bottom: 0.1rem; 
}

/* selectの選択肢と選択結果を中央揃えにする */
.form-control.select-center {
    text-align: center;
    text-align-last: center; 
    direction: ltr; /* directionを左から右にリセット */
}

/* プレースホルダーに表示されている文字色 */
.form-control::placeholder {
    color: #bbb;
}

/* セレクトボックスの初期値の文字色 */
select option:first-child {
    color: #bbb;
}
/* セレクトボックスの選択後の文字色 */
select option:not(:first-child) {
    color: black;
}

.radio-spacing {
    margin-right: 40px; /* こちらの値を適宜調整してください */
}

footer.footer {
  position: fixed;
  width: 100%;
  height: 50px; /* Adjust as needed */
  text-align: center;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px; /* Add padding as needed */
}

.feather {
  width: 16px;
  height: 16px;
}

.data-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.data-row-marginbottom-0 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; /* テキストを下揃えにする */
  margin-bottom: 0px;
}


.data-label {
  width: 100px; /* 固定されている表示内容の幅を指定。 */
  text-align: left;
  margin-left: 30px;
}

.data-value {
  margin-left: 10px; /* 固定されている表示内容と変化する表示内容の間隔を指定。。 */
  text-align: left;
}

.data-value-second {
  margin-left: 30px; /* 固定されている表示内容と変化する表示内容の間隔を指定。。 */
  text-align: left;
}

.data-value-0px {
  margin-left: 0px; /* 固定されている表示内容と変化する表示内容の間隔を指定。。 */
  text-align: left;
}