body {
  font-size: .875rem;
  height: 100%;
  margin-bottom: 50px; 
}


main > .container {
  max-width: 150%; 	
  padding: 60px 15px 0;
}

.form-mainMenu{
  max-width: 630px;
  padding: 15px;
}

.form-mainMenu .form-floating:focus-within {
  z-index: 2;
}

.form-mainMenu input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-mainMenu input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* プレースホルダーを中央揃えにする */
::placeholder {
    text-align: center;
}

/* 実際の入力値を左揃えにする */
.form-control {
    text-align: left; 
}

/* selectの選択肢と選択結果を中央揃えにする */
.form-control.select-center {
    text-align: center;
    text-align-last: center; 
    direction: ltr; /* directionを左から右にリセット */
}

.radio-spacing {
    margin-right: 40px; /* こちらの値を適宜調整してください */
}

.hidden {
    display: none;
}

.left-align {
    text-align: left;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.invisible-text {
  color: transparent;
}

footer.footer {
  position: fixed;
  width: 100%;
  height: 50px; /* Adjust as needed */
  text-align: center;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px; /* Add padding as needed */
}

.feather {
  width: 16px;
  height: 16px;
}

.left-aligned-text {
  text-align: left;
}

.data-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.data-label {
  width: 120px; /* 固定されている表示内容の幅を指定。必要に応じて調整してください。 */
  text-align: left;
  margin-left: 50px;
}

.data-value {
  margin-left: 20px; /* 固定されている表示内容と変化する表示内容の間隔を指定。必要に応じて調整してください。 */
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  margin-left: 20px;
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */
 
.navbar-custom .nav-link {
  color: rgb(0, 255, 255) !important;
}

