@charset "UTF-8";

html, body {
    height: 100%;
}

.center-form {
    transform: translateX(-50%);
}

.form-group {
    margin-bottom: 15px;
}

.alert {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-field {
    width: 100%;  
    max-width: 500px;  /* 最大幅も500pxに */
}

.btn-primary {
    border-color: rgb(24, 109, 126);
    background-color: rgb(24, 109, 126);
}

.btn-primary:hover {
    border-color: rgb(24, 109, 126);
    background-color: rgb(44, 151, 172);
}