<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">

  <display-name>StudentDocumentationSoftware</display-name>

  <!-- セッションの設定 -->	
  <session-config>
    <session-timeout>60</session-timeout> <!-- セッションタイムアウトを1時間に設定 -->
    <cookie-config>
        <http-only>true</http-only> <!-- JavaScriptによるクッキーの読み込み不可 -->
        <secure>true</secure> <!-- HTTPSを使用する、HTTPは使用不可 -->
    </cookie-config>
  </session-config>
  
  
	<!-- CORS設定 -->
	<filter>
	    <filter-name>CorsFilter</filter-name>
	    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	    <init-param>
	        <param-name>cors.allowed.origins</param-name>
	        <param-value>https://studentdocusoft.ddns.net</param-value>
	    </init-param>
	</filter>

	<!-- カスタムフィルタの設定（Content-Security-Policyを追加） -->
	<filter>
	    <filter-name>CustomHeaderFilter</filter-name>
	    <filter-class>tool.CustomHeaderFilter</filter-class>
	</filter>

	<filter>
	    <filter-name>EncodingFilter</filter-name>
	    <filter-class>tool.EncodingFilter</filter-class>
	</filter>
	
	<filter>
	    <filter-name>AuthenticationFilter</filter-name>
	    <filter-class>tool.AuthenticationFilter</filter-class>
	</filter>
	
	
  	<!-- フィルターマッピング -->	
	<filter-mapping>
	    <filter-name>CorsFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
		
	<filter-mapping>
	    <filter-name>CustomHeaderFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
		
	<filter-mapping>
	    <filter-name>EncodingFilter</filter-name>
	    <url-pattern>*.jsp</url-pattern>
	    <url-pattern>*.html</url-pattern>
	    <url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	    <filter-name>AuthenticationFilter</filter-name>
	    <url-pattern>*.jsp</url-pattern>
	    <url-pattern>*.action</url-pattern>
	</filter-mapping>

	<error-page>
    	<error-code>404</error-code>
    	<location>/login/login.jsp</location> <!-- リダイレクト先のURLを指定 -->
	</error-page>
	

</web-app>
